@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba(254, 175, 195, 1);
  color: rgba(45, 52, 64, 1);
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}

.pagination-order-ice-cream-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  padding: 0;
  margin: 0;
  padding-left: 70px;
  padding-top: 136px;
}

.pagination-order-ice-cream-desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-left: 70px;
  padding-top: 24px;
}

.pagination-order-ice-cream-button {
  margin-top: 44px;
  margin-left: 68px;
}

.pagination-order-ice-cream {
  width: 542px;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 auto;
}

.white-btm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 1);
  min-height: 52px;
  min-width: 147px;
  border-radius: 26px;
  cursor: pointer;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.navigation-link {
  color: inherit;
  line-height: 20px;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 580px;
}

.navigation-user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  width: 600px;
  font-size: 14px;
  align-items: center;
}

.navigation-user-list li:not(:last-child) {
  padding-left: 8px;
  padding-right: 8px;
}

.navigation-user-list li:last-child {
  padding-left: 8px;
}

.navigation-tel-link {
  text-decoration: none;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  cursor: pointer;
}

.navigation-cirecle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  color: inherit;
}

.navigation-link-btm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 16px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

}

.navigation-link-btm svg {
  padding-right: 8px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 16px;
  margin-left: 2px;
}

.pagination-order-ice-cream-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 115px;
  padding-left: 0;
}

.pagination-order-ice-cream-list li:first-child {
  padding-right: 4px;
}

.pagination-order-ice-cream-list li:not(:first-child) {
  padding-right: 4px;
  padding-left: 4px;
}

.pagination-order-ice-cream-btm {
  margin: 0;
  padding: 0;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 1);
  cursor: pointer;
}

.pagination-order-ice-cream-btm-current {
  background-color: rgba(252, 252, 252, 1);
}

.index-column {
  display: flex;
}

.index-column-space {
  display: flex;
  justify-content: space-between;
}


.slider-order-ice-cream-picture {
  display: flex;
  width: 628px;
  flex-direction: column;
  padding-top: 23px;
}

.ice-cream-header {
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.slider-order-ice-cream-picture-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}

.slider-img {
  z-index: 3;
}

.slider-circle {
  position: absolute;
  width: 312px;
  height: 312px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 203, 216, 1);
  z-index: 1;
}

.slider-button-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 350px;
  z-index: 5;
}

.slider-order-ice-cream-picture-list li:first-child {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.slider-order-ice-cream-picture-list li:not(:first-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 203, 216, 1);
}

.slider-button {
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-social-list {
  display: flex;
  height: 24px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  padding-top: 0px;
}

.slider-social-list li:not(:last-child) {
  padding-left: 6px;
  padding-right: 6px;
}

.slider-social-list li:last-child {
  padding-left: 6px;
}

.order-giff-title {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
  padding-top: 80px;
}

.order-giff-wrapper {
  position: relative;
  display: flex;
  width: 570px;
  background-color: rgba(255, 119, 153, 1);
  margin-top: 55px;
  border-radius: 16px;
  justify-content: space-between;

}

.order-giff-item-title {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding-top: 36px;
  padding-left: 36px;
}

.order-giff-item-desc {
  margin: 0;
  margin: 0;
  padding-top: 28px;
  padding-left: 36px;
  position: relative;
}

.order-giff-btm {
  margin-top: 28px;
  margin-left: 36px;
  margin-bottom: 36px;
}

.order-giff-picture {
  position: absolute;
  display: block;
  right: 0;
  width: 219px;
  height: 268px;
  background-image: url('../images/raspberryfree.png');
  background-repeat: no-repeat;
}

.order-giff-picture-marshmallow {
  position: absolute;
  display: block;
  right: 0;
  width: 219px;
  height: 268px;
  background-image: url('../images/marshmallowfree.png');
  background-repeat: no-repeat;
}

.test-ice-cream-header {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 81px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.test-ice-cream-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding-top: 106px;
}

.test-ice-cream-list li {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  width: 270px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 8px;
}

.test-ice-cream-picture {
  position: absolute;
  margin-top: -51px;
}

.test-ice-cream-title {
  display: block;
  text-align: center;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(45, 52, 64, 1);
  margin: 0;
  padding: 0;
  padding-top: 133px;
}

.test-ice-cream-desc {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 8px;
}

.test-ice-cream-wrapper {
  width: 190px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 25px;
}

.test-ice-cream-price {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.test-ice-cream-btm {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 47, 100, 1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.online-order-ice-cream {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-position: center center;
  background-image: url("../images/Сео.jpg");
  border-radius: 16px;
  background-size: 1170px 480px;
}

.online-order-ice-cream-wrapper {
  background-color: rgba(252, 252, 252, 1);
  margin-top: 24px;
  margin-bottom: 24px;
}

.online-order-ice-cream-header {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
  padding-top: 58px;
}

.online-order-ice-cream-list {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 506px);
  padding-top: 56px;
  padding-left: 40px;
  row-gap: 40px;
  column-gap: 30px;
  padding-bottom: 56px;
}

.online-order-ice-item {
  display: flex;
}

.online-order-ice-item p {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.news {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-the-blog {
  width: 570px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 224px;
}


.news-the-blog-header {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  color: rgba(86, 92, 102, 1);
  padding-top: 32px;
  padding-left: 32px;
}

.news-the-blog-desc {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-left: 32px;
  padding-bottom: 67px;
  position: absolute;
  z-index: 2;
}

.news-the-blog-picture {
  width: 309px;
  height: 224px;
  position: absolute;
  background-image: url('../images/news.png');
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 1;
}

.newsletter {
  background-color: rgba(255, 255, 255, 1);
  width: 568px;
  border-radius: 26px;
}

.newsletter-form label {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
  color: rgba(86, 92, 102, 1);
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.newsletter-form input {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  padding: 0;
  margin: 0;
  align-items: center;
  padding-left: 16px;
  border: 1px solid rgba(185, 185, 185, 1);
  width: 332px;
  height: 48px;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 46px;
  margin-bottom: 36px;
}

.newsletter-button {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 47, 100, 1);
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(3, 9, 19, 0.1);
  border-radius: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(252, 252, 252, 1);
  cursor: pointer;
  margin-left: 15px;
  min-width: 152px;
}

.delivery-home-ice-cream {
  display: flex;
  position: relative;
  background-image: url('../images/delivery.png');
  background-repeat: no-repeat;
  width: 1170px;
  height: 534px;
  border-radius: 16px;
  margin-top: 80px;
}

.delivery-home-ice-cream-wrapper {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-top: 167px;
  padding-left: 100px;
}

.delivery-home-ice-cream-desc {
  padding: 0;
  margin: 0;
  padding-top: 23px;
}

.delivery-form-div {
  display: block;
  width: 500px;
  height: 406px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 8px;
  margin-left: 131px;
  margin-top: 63px;
}

.delivery-form-div-title {
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(86, 92, 102, 1);
  padding-top: 40px;
  padding-left: 40px;
}

.delivery-form {
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(45, 52, 64, 1);
  padding-top: 32px;
  padding-left: 40px;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}


.tooltip-text {
  position: absolute;
  bottom: 100%;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  background-color: rgba(252, 252, 252, 1);
  color: rgba(86, 92, 102, 1);
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  padding: 8px 10px;
  border-radius: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 162px;
  margin-bottom: 6px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/slider-marshmallow.png");
  width: 14px;
  height: 6px;
  position: absolute;
  transform: rotate(180deg);
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-address {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  width: 1170px;
  height: 492px;
  background-image: url("../images/address.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 80px;
}

.main-address-div {
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 343px;
  height: 364px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  margin-top: 64px;
  margin-left: 64px;
}

.main-address-title {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  padding-left: 40px;
  font: inherit;
  color: rgba(86, 92, 102, 1);
}

.main-address-address {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-left: 40px;
  color: inherit;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main-address-tel-header {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 24px;
  padding-left: 40px;
  font: inherit;
  color: rgba(86, 92, 102, 1);
}

.main-address-tel-number {
  display: block;
  padding: 0;
  margin: 0;
  color: rgba(45, 52, 64, 1);
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-left: 40px;
  padding-top: 12px;
}

.main-address-time-work {
  display: block;
  padding: 0;
  margin: 0;
  color: rgba(45, 52, 64, 1);
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 40px;
  color: rgba(86, 92, 102, 1);
}

.main-address-button {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 47, 100, 1);
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  margin-top: 32px;
  margin-left: 40px;
  min-width: 250px;
  min-height: 44px;
  cursor: pointer;
}


.footer-page {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 40px;
}

.footer-social-list li:not(:first-child) {
  padding-left: 8px;
  padding-right: 8px;
}

.footer-social-list li:first-child {
  padding-right: 8px;
}

.footer-navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 44px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 6px;
  column-gap: 9px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(45, 52, 64, 1);
  padding-left: 80px;
}

.footer-navigation-list li {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-navigation-list li:nth-child(3n) {
  padding-left: 15px;
}

.footer-navigation-item a {
  color: rgba(45, 52, 64, 1);
  text-decoration: none;
}

.footer-navigation-current {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer-page-logo {
  width: 207px;
}

.footer-page-logo-link svg {
  margin-top: 42px;
}

.footer-logo-link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(45, 52, 64, 1);
  margin-top: 10px;
  margin-bottom: 44px;
  text-decoration: none;
}

.footer-logo-link span {
  text-decoration: underline;
}

.navigation-link-current {
  display: flex;
  min-height: 36px;
  min-width: 95px;
  background-color: rgba(255, 74, 120, 1);
  border-radius: 30px;
  line-height: 20px;
  color: rgba(252, 252, 252, 1);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-left:0px;
}

.catalog-breadcrumbs-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 32px;
}

.catalog-breadcrumbs-link {
  text-decoration: none;
  color: rgba(36, 36, 36, 1);
}

.catalog-breadcrumbs-list li:last-child {
  position: relative;
}

.catalog-breadcrumbs-list li:last-child::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background-color: rgba(45, 52, 64, 1);
  margin-top: 18px;
  width: 100%;
}

.catalog-breadcrumbs-item {
  position: relative;
  margin-right: 27px;
}

.catalog-breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -16px;
  width: 7px;
  height: 6px;
  background-image: url('../images/breadcrumbs.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.catalog-breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-products-header {
  margin-top: 15px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-sort {
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 40px;
  margin-left: 15px;
}

.select-control {
  min-width: 196px;
  margin-top: 7px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 0;
  color: rgba(45, 52, 64, 1);
  appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.catalog-filter-group-price {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none;
  margin-top: 40px;
  margin-left: 5px;
}

.catalog-filter-price-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 32px;
}

.catalog-range {
  display: flex;
  min-height: 36px;
  min-width: 196px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  margin-left: 18px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
}


.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  width: 164px;
}

.catalog-range-bar {
  position: absolute;
  height: 2px;
  background-color: rgba(86, 92, 102, 1);

}

.catalog-range-toggle {
  border: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(45, 52, 64, 1);
  cursor: pointer;
}

.catalog-toggle-min {
  top: -7px;
  left: -10px;
}

.catalog-toggle-max {
  top: -7px;
  right: -10px;
}

.catalog-filter-group {
  display: inline-block;
}

.catalog-range-toggle-circle {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(252, 252, 252, 1);
  top: 6px;
  left: 6px;
}


.visually-hidden-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog-filter-group-fat-content {
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: 40px;
}

.catalog-filter-fat-content-title {
  margin-left: 38px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.fat-content-control-list {
  list-style-type: none;
  margin-top: 8px;
  margin-left: 23px;
  display: flex;
  justify-content: flex-start;
  padding-left: 7px;
  align-items: center;
  border-radius: 18px;
  background-color: rgba(252, 252, 252, 0.3);
  min-height: 36px;
  min-width: 376px;
}

.fat-content-control {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
}

.radio_box {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 3px;
  margin-left: -24px;
}

.fat-content-control-list li {
  margin-left: 4px;
}

.fat-content-control-input:checked + .radio_box::before {
  content: "";
  position: absolute;
  border: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: rgba(45, 52, 64, 1);
}

.catalog-filter-group-check {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-check-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 15px;
}

.catalog-check-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 598px;
  min-height: 40px;
  border-radius: 18px;
  padding-left: 6px;
}

.catalog-check-list li {
  margin-left: 5px;
}

.control {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 25px;
}

.control-check-box {
  position: absolute;
  margin-left: -25px;
  background-image: url('../images/check-no.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 1px;
}

.control-input:checked + .control-check-box {
  background-image: url('../images/checkbox.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.catalog-filter-btm {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 40px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 1);
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  flex-direction: column;
  justify-content: center;
  row-gap: 91px;
  column-gap: 30px;
  background-color: rgba(254, 175, 195, 1);
  padding: 0;
  margin: 0;
  margin-top: 95px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 8px;
  min-height: 281px;
  padding-left: 40px;
  padding-right: 40px;
}

.product-list img {
  margin-top: -51px;
}

.product-list h3 {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(45, 52, 64, 1);
}

.product-card-desc {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: block;
  text-align: center;
  margin-top: 8px;
  color: rgba(86, 92, 102, 1);
}

.product-card-desc-wrapper p {
  padding: 0;
  margin: 0;
}

.product-card-desc-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(45, 52, 64, 1);
  margin-top: 16px;
}

.pagination-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  position: absolute;
  right: 0;
  margin-top: 66px;
}

.catalog-wrapper-view-btm {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 179px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
  margin-bottom: 5px;
}

.pagination-button {
  text-decoration: none;
  color: inherit;
  padding-left: 7px;
  padding-right: 7px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination-button-next {
  padding-right: 3px;
  padding-left: 15px;
}

.pagination-button-prev {
  padding-right: 14px;
  padding-left: 15px;
}

.button-catalog-view-more {
  min-width: 191px;
  min-height: 52px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  position: absolute;
  margin-top: 77px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(252, 252, 252, 0.4);
  margin-left: -8px;
}

.pagination-button-current {
  position: relative;
  z-index: 1;
}

.pagination-button-current::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 1);
  z-index: -1;
  margin-left: -6px;
  margin-top:-1px;
}
